    #whitepaper-form
    {
        form
        {
            max-width: 900px;
            margin: 0 auto;

            text-align: left;
            p
            {
                font-weight: 700;

                margin-bottom: 30px;

                color: $white;
            }

            .row
            {
                margin-bottom: 16px;

                @include clearfix;



                .columns
                {
                    float: left;
                    &.two
                    {
                        width: 14%;
                        @include phone{
                             width: 100%;
                        }
                    }
                    &.ten
                    {
                        width: 86%;
                        @include phone{
                             width: 100%;
                        }
                    }
                }

                &.text-centered
                {
                    text-align: center;
                }
            }
            label
            {
                font-weight: 200;
                line-height: 46px;

                 @include phone{
                     line-height: 1em;
                 }

                vertical-align: middle;

                color: #ccc;
            }

            input[type=text],
            input[type=email],
            input[type=tel]
            {
                width: 100%;
                height: 34px;

                border: 1px solid #fff;
                border-radius: 6px;
                background-color: #363636;
                @include box-sizing(border-box);
            }

            input[type=tel]
            {
                margin-bottom: 30px;
            }

            .tick
            {
                font-size: 12px;
                line-height: 20px;

                display: inline;

                vertical-align: top;

                label{
                    line-height:14px;
                    display: block;
                    padding-left: 15px;
                    text-indent: -15px;

                    a {
                    color: white;
                    }
                }

                input[type="checkbox"]{
                        width: 13px;
                    height: 13px;
                    padding: 0;
                    margin: 0;
                    vertical-align: middle;
                    position: relative;
                    top: -1px;
                }
            }
            .error
            {
                margin: 0;

                color: red;
            }
            .error_show
            {
                color: red;
            }
        }

        .errorMessages
        {
            li
            {
                margin: 0 0 10px 0;

                list-style: none;

                color: red;
            }
        }
        .successMessage
        {
            ul
            {
                text-align: center;
                li
                {
                    font-size: 1em;
                    line-height: 1em;

                    display: inline-block;

                    margin: 0 10px 0 0;

                    color: $white;
                    a
                    {
                        text-decoration: none;

                        color: red;
                    }
                }
            }
        }

    }