.nav
{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;

    width: 100%;
    padding: 10px 0;

    @include transition(all .3s ease);

    .hiddenNavContainer{
        @include phone{
            display: none;
            padding: 20px 0;
            //background: rgba(5, 56, 111, 0.95);
            background: #090b33;
            border-top: 3px solid #2090ca;
            ul{
                text-align: left;

                li{
                    display: block;
                }

                li a{
                    color: $white;

                    padding: 10px;
                }
            }
        }
    }
    
    ul
    {
        margin: 0;
        padding: 0;

        text-align: center;
        li
        {
            display: inline-block;

            padding: 2px 0 4px 0;

            list-style: none;

            border-left: 1px solid $white;

            @include phone{
                border: 0 !important;
            }
            &:first-of-type
            {
                border-left: none;
            }
            &.noBorder
            {
                padding: 0;

                border-left: none;

                a
                {
                    padding: 0 16px;
                    opacity: 1;
                }

                 @include phone{
                    display: none;
                 }
            }
            &.borderRight
            {
                border-right: 1px solid $white;
            }
            .altStyling &
            {
                border-color: #ccc;
            }
            a
            {
                font-size: 14px;
                line-height: 1em;

                display: block;

                padding: 0 52px;

                @include tablet{
                     padding: 0 26px;
                }

                vertical-align: middle;
                text-decoration: none;

                opacity: .8;
                color: $white;
                &:hover
                {
                    opacity: 1;
                    color: #1f91ca;

                    @include transition(all .3s ease);
                }
            }
            .logo
            {
                display: inline;

                width: 76px;

                vertical-align: middle;

                @include transition(all .3s ease);
            }
        }
    }
    .mobileLogo
    {
        display: none;
        @include phone
        {
            display: block;
            width: 54px;
            margin: 0 10px;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}
.scrolled
{
    .nav
    {
        position: fixed;

        padding: 10px 0;

        background: #f2f2f2;
        ul
        {
            margin: 0;
            li
            {
                border-color: #ccc !important;
                a
                {
                    color: #1f91ca;
                }
                .logo
                {
                    width: 54px;

                    vertical-align: middle;
                }
                .altStyling &
                {
                    border-color: #9195a9;
                }
            }
        }
    }
}


#nav-icon
{
    position: absolute;
    z-index: 5;
    top: 20px;
    right: 10px;

    display: none;

    @include phone{
        display: block;
    }

    width: 24px;
    height: 20px;

    cursor: pointer;
    -webkit-transition: .5s ease-in-out;
       -moz-transition: .5s ease-in-out;
         -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
    span
    {
        position: absolute;
        left: 0;

        display: block;

        width: 100%;
        height: 2px;

        -webkit-transition: .25s ease-in-out;
           -moz-transition: .25s ease-in-out;
             -o-transition: .25s ease-in-out;
                transition: .25s ease-in-out;
        -webkit-transform: rotate(0deg);
           -moz-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);

        opacity: 1;
        background: $white;
        &:nth-child(1)
        {
            top: 0;
        }
        &:nth-child(2)
        {
            top: 9px;
        }
        &:nth-child(3)
        {
            top: 9px;
        }
        &:nth-child(4)
        {
            top: 18px;
        }
    }
    &.open
    {
        span
        {
            &:nth-child(1)
            {
                top: 18px;
                left: 50%;

                width: 0;
            }
            &:nth-child(2)
            {
                -webkit-transform: rotate(45deg);
                   -moz-transform: rotate(45deg);
                     -o-transform: rotate(45deg);
                        transform: rotate(45deg);
            }
            &:nth-child(3)
            {
                -webkit-transform: rotate(-45deg);
                   -moz-transform: rotate(-45deg);
                     -o-transform: rotate(-45deg);
                        transform: rotate(-45deg);
            }
            &:nth-child(4)
            {
                top: 18px;
                left: 50%;

                width: 0;
            }
        }
    }
}
