section
{
    text-align: center;    

    ul{
    	list-style-type: none;
    	margin: 0;
    	padding: 0;
    }

    &#section-hero
    {
        min-height: 773px;
        padding: 148px 20px 0;

        background: url(../images/parallax/hero-top.jpg) center center no-repeat;
//        background-attachment: fixed;
        background-size: cover;

        @include phone{
		    padding: 98px 20px 0;
		    min-height: 360px;
		    background-attachment: scroll;
		}
        @include tablet{
		    background-attachment: scroll;
		}
        .downArrow
        {
            margin-top: 30px;
        }

        .headerContent{
            position: relative;
            z-index: 3;
        }
    }

    &#section-paralax-first
    {
        padding: 300px 20px 273px;
        background-color: #2090ca;

        @include phone{
		    padding: 55px 20px;		    
		}

		@include tablet{
		    padding: 175px 20px 150px;		    
		}
    }

    &#customer-loyalty
    {
        padding: 170px 20px 150px;

        @include phone{
		    padding: 55px 20px;		    
		}

		@include tablet{
		    padding: 125px 20px 100px;		    
		}


        p
        {           

            max-width: 751px;
            margin: 0 auto;
        }
    }

    &#loyalty-by-numbers
    {
        padding: 160px 0 150px 0;

        background: url(../images/parallax/swim.jpg) center center no-repeat;
        //background-attachment: fixed;
        background-size: cover;

        .wrap-relative{
            position: relative;
            z-index: 3;
        }

        @include phone{
		    padding: 55px 20px;	
		    background-attachment: scroll;	  
		    background-attachment: scroll;  
		}

		@include tablet{
		    padding: 125px 20px 100px;		    
		}
        @include tablet{
		    background-attachment: scroll;
		}
    }

    &#loyalty
    {
        padding: 80px 20px 200px;

        background-color: #2f373f;

        

        @include phone{
		    padding: 55px 20px 80px;  
		}

		@include tablet{
		    padding: 80px 20px 80px;		    
		}


        p
        {
            color: $white;
        }
        .loyalty-title
        {
            max-width: 664px;
            margin: 0 auto 96px auto;

            @include phone{
				margin: 0 auto 40px auto;
			}
        }

        ul
        {
            width: 100%;
            max-width: 1028px;
            margin: 0 auto 0;
            padding: 0;

            list-style: none;

            @include clearfix;

            li
            {
                float: left;

                width: 33.33%;

                text-align: center;

                

                @include phone{
				     width: 100%;
				     margin-bottom: 30px;
				}

                .loyalty-data
                {
                    font-size: 28px;
                    line-height: 97px;

                    width: 97px;
                    height: 97px;
                    margin: 0 auto 40px;
                    padding: 0;

                    color: #ffcf2b;
                    background: url(../images/count-bg.png) center center no-repeat transparent;

                    transition: transform .3s ease-out;

                    &:hover{
                        transform: translate(0, -5px);
                     }
                }

                .loyalty-data-title
                {
                    font-size: 20px;
                    font-weight: 700;
                }

                .loyalty-excerpt
                {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18px;
                    span
                    {
                        color: #ffcf2b;
                        &.excerpt-large
                        {
                            font-size: 22px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }

    &#increase-returns
    {
        position: relative;

        padding: 160px 20px 180px;

        @include phone{
		    padding: 55px 20px;		    
		}

		@include tablet{
		    padding: 125px 20px 100px;		    
		}

        &:after
        {
            position: absolute;
            bottom: -17px;
            left: 50%;
            left: calc(50% - 20px);

            width: 0;
            height: 0;

            content: '';

            border-top: 17px solid #fff;
            border-right: 20px solid transparent;
            border-left: 20px solid transparent;
        }
    }

    &#increase-value
    {
        padding: 110px 20px 240px;

        @include phone{
		    padding: 55px 20px;		
		    background: #1665a8;    
		}

		@include tablet{
		    padding: 125px 20px 100px;	
		    background-size: auto;	    
		}

        color: #fff;
        background: url(../images/parallax/beach.jpg) center 1% no-repeat;
        //background-attachment: fixed;
        background-size: cover;

        .increase-title
        {                       

            max-width: 850px;
            margin: 0 auto;
        }

        ul
        {
            max-width: 895px;
            margin: 100px auto 0;
            padding: 0;

            list-style: none;

            @include phone{
				margin: 55px auto 0;
			}

            @include clearfix;

            li
            {
                float: left;

                width: 33.33%;

                @include phone{
				     width: 100%;
				     margin-bottom: 30px;
				}

                text-align: center;

                .value-data-title
                {
                    font-size: 20px;
                    font-weight: 700;

                    margin: 20px 0;
                }

                .value-excerpt
                {
                    font-size: 14px;
                    font-weight: 400;                    
                }
            }
        }
    }

    &#section-quote
    {
        position: relative;

        padding: 437px 20px 512px;


        background: url(../images/parallax/shopping.jpg) center top no-repeat;
        //background-attachment: fixed;
        background-size: cover;
        background-position: center top;

        @include phone{
		    padding: 55px 20px;		
		    background-attachment: scroll;    
		}

		@include tablet{
		    padding: 125px 20px 100px;		    
		}
        @include tablet {
		    background-attachment: scroll;
            background-position: center top!important;
		}

        .quote-wrapper
        {
            position: absolute;
            right: 19.3%;
            z-index: 3;

            @include phone{
			    position: static;	 
			    margin: 0 auto;   
			}

			@include tablet{
			    position: static;
			    margin: 0 auto;		    
			}

            box-sizing: border-box;
            width: 100%;
            max-width: 591px;
            padding: 47px 72px 47px 30px;

            text-align: left;

            background-color: rgba(255, 255, 255, .84);

            p
            {
                font-size: 30px;
                line-height: 32px;

                @include phone{
				   font-size: 20px;
                   line-height: 24px; 
				}

				@include tablet{
				    font-size: 26px;
                   line-height: 30px;	    
				}

                margin: 0;

                span
                {
                    font-size: 16px;

                    display: block;

                    margin-top: 30px;

                    @include phone{
					   margin-top: 10px;
					}
                }
            }
        }
    }

    &#section-whitepaper
    {
        position: relative;

        max-width: 840px;
        margin: 0 auto;
        padding: 115px 20px;

        @include phone{
		    padding: 55px 20px;		    
		}

		
        &:after
        {
            position: absolute;
            bottom: -17px;
            left: 50%;
            left: calc(50% - 20px);

            width: 0;
            height: 0;

            content: '';

            border-top: 17px solid #fff;
            border-right: 20px solid transparent;
            border-left: 20px solid transparent;
        }


        p
        {           

            color: #333;

            &.strong
            {
                font-weight: 700;
            }
        }

        .section-title
        {
            font-size: 2.25em;

            color: #194584;
        }
    }

    &#whitepaper-form
    {
        

        padding: 55px 20px;

        color: $white;
        background-color: #363636;        

        .button
        {
            margin-top: 55px;
            padding: 17px 46px;

            background-color: #2090ca;

            @include phone{
                padding: 10px 23px;
                margin-top: 25px;
            }
        }

        .js-slideIn-onsuccess
        {
           
            display: none;
            
            .success-title
            {
                font-size: 36px;
                margin-bottom: 75px;
            }

            .case-studies{
            	max-width: 743px;
            	margin: 20px auto;
            	@include clearfix;

            	li{
            		float: left;
            		width: 33.33%;            		
            		text-align: center;

            		a{
            			color: $white;
            			text-decoration: none;
            			padding: 10px;
            			display: block;

            			span{
            				padding: 1px;
            				background-color: $white;
            				display: block;
            				margin-bottom: 10px;
            			}

            			img{            				
            				max-width: 100%;
            				height: auto;
            				display: block;
            			}

            			&:hover{
            				padding: 7px;

            				span{
            					padding: 4px;     
            					margin-bottom: 7px;       					
            				}
            			}
            		}
            	}
            }

            .contact-details{
            	margin-top: 20px;
            	a{
            		color: #0099FF;
            	}
            }
            &.show {
                display: block;
            }
        }
        &.paddingThanks {
            padding: 260px 0;
        }
    }

    &#partnership-cta
    {
    	background: url(../images/parallax/boats.jpg) center top no-repeat;
        //background-attachment: fixed;
        background-size: cover;

        padding: 75px 20px 100px;

        @include phone{
		    padding: 55px 20px;	
            background-attachment: scroll;
		}
        @include tablet{
		    background-attachment: scroll;
		}

    	.container
    	{
			max-width: 860px;
			margin: 0 auto;
			padding: 50px 20px;
			background-color: rgba(255, 255, 255, 0.84);

            position: relative;
            z-index: 3;

			p{
				max-width: 558px;
				margin: 0 auto 30px auto;

				&.section-title{
					font-size: 2.5em;
    				color: #194584;
				}
			}
    	}

    	a{
    		font-size: 1em;
    		color: #1F91CA;
    		font-weight: 700;
    	}
        
    }

    &#social-bar{
    	padding: 75px 20px;

    	p{
    		font-size: 26px;
    		color: #194584;
    		margin-bottom: 20px;
    	}

    	a{    		
		    margin: 0 10px;
    	}
    }
}


footer
{
	padding: 30px 0px;
	background-color: #303030;
	text-align: center;

	.footer-logo
	{	
		width: 46px;
		height: auto;
		margin: 0 auto;

		img{
			width: 100%;
			height: auto;
		}
	}

	#footer-nav	
	{
		padding: 30px;

		background-color: #333333;
         border-top: 2px solid #292929;
                border-bottom: 2px solid #292929;
		
		ul{
			margin: 0;
			padding: 0;
		}

		li{
			display: inline;
			margin: 0 10px;

			@include phone{
			    display: block;
			    margin: 10px auto;	    
			}

			a
			{
				color: #fff;
				font-size: 14px;
			}
		}
	}

	.footer-copy{
		font-size: 16px;
    	color: #999999;
    	margin-top: 30px;
	}
}


#cookie-message {
    display: none;
    z-index: 999;
    position: absolute;
    text-align: center;
    padding: 20px;
    top: 0;
    width: 100%;
    background: #fff;

    box-sizing: border-box;
    
    a{
    	color: #2090ca;
    }

    #cookie-close{
    	background-color: #2090ca;
    	color: #fff;
    	border: 0;
    	padding: 3px 18px;
    }

}