.button {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 0;
    outline: 0;
    line-height: 1;
    cursor: pointer;
    overflow: visible;
    border: 1px solid #ffffff;
    -webkit-transition: .25s;
    transition: .25s;
    text-decoration: none;
    padding: 17px 24px;
    border-radius: 30px;
    color:$white;
    background-color: rgba(31, 145, 202, .6);
    font-size: 1.25em;
    font-weight: 400;

    &:hover{
        opacity:.85;
    }

    @include tablet{
         padding: 13px 20px;
         font-size: 1.15em;
    }

    @include phone{
         background-color: rgba(31, 145, 202, .85);
         padding: 9px 16px;
         font-size: 1em;
    }
}