  @font-face{
    font-family:'FS Joey Web Light';
    src: url(../fonts/fs_joey-light/fs_joey-light-webfont.eot);
    src: url(../fonts/fs_joey-light/fs_joey-light-webfont.eot?#iefix) format("embedded-opentype"),
        url(../fonts/fs_joey-light/fs_joey-light-webfont.woff2) format("woff2"),
        url(../fonts/fs_joey-light/fs_joey-light-webfont.woff) format("woff"),
        url(../fonts/fs_joey-light/fs_joey-light-webfont.ttf) format("truetype"),
        url(../fonts/fs_joey-light/fs_joey-light-webfont.svg#fs_joeylight) format("svg");
    font-weight:400;
    font-style:normal}


html{
   font: 300 16px/1.4 'FS Joey Web Light', Arial;

   a{
    text-decoration: none;
   }
}

h1{
  font: 300 5em/1 'FS Joey Web Light', Arial;
  color: $white;
  
  text-transform: uppercase;

  max-width: 810px;
  margin: 0 auto 35px auto;

  @include tablet{
    text-transform: uppercase;
    font-size: 3em;
  }

  @include phone{
    font-size: 2.5em;
    text-transform: none;
  }

}

h2{
  font: 300 2.5em/1.2 'FS Joey Web Light', Arial;
  color: $white;
  margin: 0;

  @include tablet{
    font-size: 2.5em;
  }

  @include phone{
    font-size: 2em;
  }
}

h3{
  font: 300 2.5em/1.2 'FS Joey Web Light', Arial;
  color: $black;
  margin: 0 0 30px 0;

  span{
    font-weight: 700;
  }

  @include tablet{
    font-size: 2.5em;
  }

  @include phone{
    font-size: 2em;
  }
}

h4{
  font: 300 2.5em/1.2 'FS Joey Web Light', Arial;
  color: $white;
  text-align: center;
  margin: 0;

  @include tablet{
    font-size: 2.5em;
  }

  @include phone{
    font-size: 2em;
  }
}

h5{
  font: 300 2.5em/1.2 'FS Joey Web Light', Arial;
  color: #194584;
  margin: 0;

  @include tablet{
    font-size: 2.5em;
  }

  @include phone{
    font-size: 2em;
  }


}

p{
  font: 300 1em/1.4 'FS Joey Web Light', Arial;

  margin: 0;
  padding: 0;

  &.section-title{
    @extend h3;
  }
   
}
